<!DOCTYPE html>
<html>
    <head>
        <title> Updates </title>
    </head>
    <body style="background-color:rgb(41, 121, 250); background-size: 100% 100%; text-align: center;";>
        <div style="background-color:rgb(41, 191, 250);">
            {% extends 'main/base.htm' %}

            {% block content %}


            <p style="font-size: 50px;"> The Number of Updates {{ blogs.count }} blog{{ blogs.count|pluralize }} </p>
            {% for blog in blogs %}

            <a href="{% url 'blog:detail' blog.id %}"><h2> {{ blog.title }} </h2></a>
            <h5> {{ blog.date|date:'M d Y'|upper }}</h5>
            {{ blog.description|safe|truncatechars:100 }}

            {% endfor %}

            {% endblock %}


        </div>
        
        
    </body>
    
</html>

