
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Board Members</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/rotate.css' %}">
    </head>
    <body>
        <div class="box">
            <span style="--i:1;"><img src="{% static 'main/arjun.jpg' %}"></span>
            <span style="--i:2;"><img src="{% static 'main/david.jpg' %}"></span>
            <span style="--i:3;"><img src="{% static 'main/serene.jpg' %}"></span>
            <span style="--i:4;"><img src="{% static 'main/group.jpg' %}"></span>
            <span style="--i:5;"><img src="{% static 'main/work.jpg' %}"></span>
            <span style="--i:6;"><img src="{% static 'main/vineet.jpg' %}"></span>
            <span style="--i:7;"><img src="{% static 'main/teamwork.jpg' %}"></span>
            <span style="--i:8;"><a style="background-color:white;" href="{% url 'home' %}">Back to main page</a>></span>
        </div>
    </body>
</html>

{% endblock %}